@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

body {
  background-color: #f7f6f3;
  color: #1a1a1a;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #d9d5cc;
  border-radius: 999px;
}
